// CSS for Cookie prototypes go here
.whitebg {
  background: white;
  padding: 2em 2em;
}

ol {
  padding-top: 1em;
}

// Karl's dirty spacing fixes
.nhsuk-checkboxes__item--cookies {
  padding-bottom: 24px;
}
button.cookie-understand {
  margin-bottom: 36px !important;
}
.nhsuk-link.cookie-link {
  padding: 0;
}


@include mq($until: desktop) {

  // Not sure how to override this so used important
  .nhsuk-panel {
    padding: 16px !important;
  }
  // Karl's dirty spacing fix for mobile
  .nhsuk-checkboxes__item--cookies {
    padding-bottom: 16px;
  }
  button.cookie-understand {
    margin-bottom: 24px !important;
  }

  // Karl's table view experiment for mobile
    thead {
      display: none;
    }
    tr {
      border-bottom: solid 2px #d8dde0;
      display: block;

      &:last-child {
        border-bottom: 0;
      }
    }
    td {
      border-bottom: 1px dotted #d8dde0;
      display: block;
      text-align: left;

      &:last-child {
        border-bottom: 0;
      }

      &::before {
        content: attr(data-label);
        display: block;
        font-weight: bold;
        padding-right: 20px;
      }
    }

  }
