

{% extends 'layout.njk' %}

{% block pageTitle %}
  Adalimumab
{% endblock %}



{% block beforeContent %}
 <div >

    <div class="notification-banner notification-banner--hiviz util-print-hide">
            <p class="notification-banner__inner" style="margin-bottom: 0px;padding:15px;">We are testing a new page. Go <a href="http://www.nhs.uk/">back to the NHS website</a>.</p>
        </div>
  </div>      
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "https://www.nhs.uk"
      },
      {
        text: "Medicines A-Z",
        href: "https://www.nhs.uk/medicines"
      }
    ]

  }) }}
{% endblock %}

{% block content %}



  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-!-margin-bottom-0">Adalimumab</h1>
      <h1 class="nhsuk-heading-m nhsuk-!-margin-bottom-8">including Humira, Amgevita, Imraldi, Hyrimoz and Hulio</h1>


          <p class="nhsuk-heading-m nhsuk-!-margin-bottom-0">On this page</p>
          <ol class="nhsuk-body-s">
            
              <li>About adalimumab</li>
            
              <li>Key facts</li>
            
              <li>Who can and can't take adalimumab</li>
            
              <li>How and when to use it</li>
            
              <li>Side effects</li>
            
              <li>How to cope with side effects</li>
            
              <li>Pregnancy and breastfeeding</li>
            
              <li>Cautions with other medicines</li>
            
              <li>Common questions</li>
            
          </ol>
 





      <h2>1. About adalimumab</h2>

      <p>How to say Adalimumab: <strong>AH-dah-lee-mu-mab.</strong></p>

      <p>Adalimumab is a <a href="https://www.nhs.uk/conditions/biological-and-biosimilar-medicines/">biological medicine</a>. It's used to reduce inflammation by acting on your immune system.</p>
      <p>Humira is the brand name of the original adalimumab medicine. There are now 4 new versions of adalimumab - brand names include Amgevita, Imraldi, Hyrimoz and Hulio.</p>
      <p>These new medicines are <a href="https://www.nhs.uk/conditions/biological-and-biosimilar-medicines/">biosimilars</a>. A biosimilar is a newer version of an original biological medicine.</p>
      <p>Adalimumab biosimilars are equally as safe and effective in reducing inflammation as Humira (the original adalimumab medicine).</p>


    <p>All versions of adalimumab are used to treat inflammation of the:</p>

    <ul>
      <li><strong>joints</strong> (rheumatoid arthritis, polyarticular juvenile idiopathic arthritis and active enthesitis-related arthritis)</li>
      <li><strong>spine - causing back pain</strong> (axial spondyloarthritis and ankylosing spondylitis)
      <li><strong>gut and ulcers in the lining of the gut</strong> (Crohn's disease and ulcerative colitis)
      <li><strong>layer beneath the white of the eyeball</strong> (non-infectious uveitis)
      <li><strong>joints - with red, scaly patches on the skin</strong> (psoriatic arthritis)
    </ul>

<p>It's also used to treat skin conditions:</p>
    
    <ul>
      <li><strong>red, scaly patches</strong> (plaque psoriasis)</p>
      <li><strong>lumps, pus and scarring</strong> (hidradenitis suppurativa)</p>
    </ul>


    <p>Adalimumab is available on prescription and is prescribed by a specialist clinician or nurse.</p>
    
    <p>It comes as a pre-filled syringe or injection pen. It's injected under your skin by your doctor. You'll also be shown how to do this yourself, so you can do this at home if you need to. You can have the medicine delivered to your home and store it in your fridge.</p>

    <p>If you're switching from Humira to a different brand of adalimumab, the injection device might be different. You can ask your homecare nursing support team for training on the new device if you need it.</p>

    <p>If there are any changes to your homecare provider, you'll be told before any changes are made. </p>


    <h2>2. Key facts</h2>
    <ul>
        <li>Adalimumab is known by the brand names Humira, Amgevita, Imraldi, Hyrimoz and Hulio.</li>
        <li>Adalimumab biosimilars are just as safe and effective as Humira.</li>
        <li>It takes a few weeks for Humira and adalimumab biosimilars to work.</li>
        <li>They work by blocking part of your immune system to reduce inflammation.</li>
        <li>If you're switching from Humira to a different brand of adalimumab, the injection device might be different.</li>

    </ul>


    <h2>3. Who can and can't take adalimumab</h2>

    <p>Adalimumab can be used by adults and some brands can be used by children.</p>
    <p>Adalimumab isn’t suitable for some people. To make sure this medicine is safe for you, tell your doctor if you:</p>

    <ul>
      <li>have had an allergic reaction to Humira or any other medicines in the past</li>
      <li>have an infection or a fever or feel unwell</li>
      <li>have or have had tuberculosis, or been in contact with someone with it</li>
      <li>have heart failure</li>
      <li>have hepatitis B</li>
      <li>have a nervous system disease including multiple sclerosis, optic neuritis and Guillain-Barré syndrome</li>
      <li>have or have had cancer</li>
      <li>are about to have surgery or a dental procedure</li>
      <li>are pregnant, or trying to get pregnant</li>
      <li>are allergic to latex - the Hyrimoz syringe and injection pen and Amgevita injection pen are not latex free </li>

    </ul>


    <p>If your child is using Humira for non-infectious uveitis their specialist may discuss with you switching them to Hulio or Hyrimoz. These are the only brands officially approved to treat children with non-infectious uveitis.</p>




    <h2>4. How and when to use it</h2>

        <p>Adalimumab comes as a pre-filled syringe or injection pen.</p>
        <p>It's injected under your skin by your doctor. Your doctor will also show you how to give yourself the injection, so you can do this at home if you need to.</p>

        <h3>Dosages</h3>

        <p>For adults, dosages and how often you take it depends on your condition:</p>


        <ul>
          <li><strong>plaque psoriasis</strong> - the usual starting dose is 80mg and then 40mg every 2 weeks.</li>
          <li><strong>rheumatoid arthritis</strong> - the usual dose is 40mg every 2 weeks. It can be taken weekly if you're not taking any other medicine for rheumatoid arthritis.</li>
          <li><strong>psoriatic arthritis, ankylosing spondylitis or axial spondyloarthritis</strong> - the usual dose is 40mg every 2 weeks.</li>
          <li><strong>Crohn's disease</strong> - the usual starting dose is 80mg and then 40mg every 2 weeks. It can be taken weekly if needed. If you need a higher dose you can start with 160mg, 80mg after 2 weeks and then 40mg every 2 weeks.</li>
          <li><strong>ulcerative colitis</strong> - the usual starting dose is 160mg, then 80mg after 2 weeks and then 40mg every 2 weeks.</li>
          <li><strong>hidradenitis suppurativa</strong> - the usual starting dose is 160mg, then 80mg after 2 weeks and then 40mg after another 2 weeks then 40mg every week.</li>
          <li><strong>non-infectious uveitis</strong> - the usual starting dose is 80mg, then 40mg after a week and then 40mg every 2 weeks.</li>
        </ul>

      <p>For children, dosages are usually based on their weight. How often they take it depends on their condition:</p>


      <ul>
        <li><strong>plaque psoriasis</strong> - after the first dose, the next dose is given after 1 week, and then every other week.</li>
        <li><strong>juvenile idiopathic arthritis</strong> - after the first dose, doses are usually given every other week. It can be given weekly if needed.</li>
        <li><strong>enthesitis-related arthritis</strong> - doses are given every other week.</li>
        <li><strong>Crohn's disease</strong> - after the first dose, doses are normally given every other week. It can be given weekly if needed.</li>
        <li><strong>non-infectious uveitis</strong> - after the first dose, doses are given after 1 week, and then every other week.</li>
      </ul>  



{{ warningCallout({
  "heading": "Important",
  "HTML": "<h3>Yellow alert card</h3>

<p>When you start taking adalimumab you'll be given a yellow alert card. Carry this with you all the time. It tells healthcare professionals that you're taking adalimumab. This can be useful for them to know in case of a medical emergency.</p>"
}) }}




<h3>What if I forget my dose?</h3>
    <p>If you forget to give yourself an injection, you should inject the dose as soon as you remember. Take your next dose on the original scheduled day.</p>
    <p>If it's close to the day of your next dose, then speak to your specialist doctor who will let you know whether to skip the missed dose.</p>

<h3>What if I take too much?</h3>    
  <p>Call your doctor or specialist if you've accidentally taken too much. Have the medicine packet or leaflet with you.</p>

<h2>5. Side effects</h2>

  <h3>Common side effects</h3>

    <p>Common side effects happen in more than 1 in 10 people:</p>


    <ul>
      <li>pain, swelling, redness or itchy skin where your injection was given</li>
      <li>mild nose, throat or sinus infection</li>
      <li>headache</li>
      <li>stomach pains, feeling or being sick</li>
      <li>rash</li>
      <li>muscle or bone pains</li>
     </ul> 


    <p>You might experience side effects up to 4 months after you stop taking adalimumab. If you experience any side effects speak to your specialist.</p>


<h3>Serious side effects</h3>
  <p>Serious side effects are uncommon and affect less than 1 in 100 people.</p>
  <p>You should tell your doctor if you experience:</p>

  <ul>
    <li>infections including a fever, chills, unusual sweating, feeling unwell or more tired than normal, diarrhoea, coughing up blood or mucus, shortness of breath, problems urinating, skin sores, wounds or muscle aches – these could be signs of a severe infection</li>
    <li>shortness of breath, swelling of your ankles or feet – these could be signs of heart failure</li>
    <li>night sweats, swollen glands (lymph nodes) in the neck, armpits, groin or other areas, weight loss, changes to your skin such as a lumps or sores (skin lesions) or changes to moles or freckles you already have, severe itchiness that cannot be explained – these could be signs of cancer</li>
    <li>numbness or tingling, vision changes, muscle weakness, unexplained dizziness – these could be signs of nervous system problems</li>
    <li>persistent fever, bruising, very easy bleeding – these could be signs of a blood disorder</li>
    <li>worsening symptoms or unexplained symptoms – these could be signs of autoimmune conditions</li>
  </ul>

<h3>Serious allergic reaction</h3>
  <p>In rare cases, adalimumab may cause a serious allergic reaction (<a href="https://www.nhs.uk/conditions/Anaphylaxis/Pages/Introduction.aspx">anaphylaxis</a>).</p>


{{ careCard({
  "type": "urgent",
  "heading": "Contact a doctor straight away if:",
  "HTML": "
  <ul>
    <li>you get a skin rash that may include itchy, red, swollen, blistered or peeling skin</li>
    <li>you're wheezing</li>
    <li>you get tightness in the chest or throat</li>
    <li>you have trouble breathing or talking</li>
    <li>your mouth, face, lips, tongue or throat start swelling</li>
  </ul>
  <p>These are warning signs of a serious allergic reaction. A serious allergic reaction is an emergency.</p>

  "
}) }}

<p>These are not all the side effects of adalimumab. For a full list, see the leaflet inside your medicine packet.</p>



{{ panel({
  "label": "Information:",
  "HTML": "
  <p>You can report any suspected side effect to the <a href='https://yellowcard.mhra.gov.uk/' title='External website'>UK safety scheme.</a></p>
  "
}) }}


<h2>6. How to cope with side effects</h2>

  <p>What to do about:</p>


  <ul>
      <li><strong>pain, swelling, redness or itchy skin where your injection was given</strong> - your injection will be given in a slightly different place each time. These symptoms are usually mild and should only last a few hours. You can ask a pharmacist to recommend a mild painkiller if the pain is bothering you.</li>
      <li><strong>mild nose, throat or sinus infection</strong> - rest and drink plenty of water. Speak to your pharmacist, they may recommend medicines to relieve your symptoms such as a nasal spray. If your symptoms get worse speak to your doctor for advice.</li>
      <li><strong>headache</strong> - rest and drink plenty of water. Do not drink too much alcohol. Ask your pharmacist to recommend a painkiller. Speak to your doctor if your headaches last longer than a week or get worse.</li>
      <li><strong>stomach pains, feeling or being sick</strong> - try to rest and relax. It can help to eat and drink slowly and have smaller, more frequent meals. Putting a heat pad or covered hot water bottle on your stomach may also help. Stick to simple meals and don't eat rich or spicy food. If you're being sick, try small frequent sips of water. If you are in a lot of pain, speak to your pharmacist or doctor.</li>
      <li><strong>muscle or bone pain</strong> - speak to your pharmacist about painkillers for mild to moderate pain. If you're in a lot of pain speak to your specialist or doctor as soon as possible in case these are signs of a serious side effect.</li>
  </ul>


<h2>7. Pregnancy and breastfeeding</h2>

      <p>It's not known if adalimumab is safe to use during pregnancy. Speak to your doctors about the benefits and possible risks.</p>
      <p>If you're not pregnant it's best to use contraceptives and continue to use them for at least 5 months after your last adalimumab treatment.</p>
      <p>For more information about how adalimumab can affect you and your baby during pregnancy, <a href="http://www.medicinesinpregnancy.org/bumps/monographs/USE-OF-ADALIMUMAB-IN-PREGNANCY/">read the leaflet about the best use of medicines in pregnancy (BUMPS)</a>.</p>

<h3>Adalimumab and breastfeeding</h3>

    <p>Adalimumab is thought to be safe to use while breastfeeding. It passes into breast milk, but only in small amounts which aren't harmful to the baby.</p>

<h3>After your baby is born</h3>
<p>If you're taking adalimumab whilst pregnant, your baby may be at a higher risk of getting an infection once they are born. Speak to your doctor or midwife as they may delay giving your baby live vaccines by at least 5 months after your last dose to avoid any risks of infection.</p>


{{ panel({
  "label": "Tell your doctor if you're:",
  "HTML": "<ul><li>trying to get pregnant</li><li>pregnant</li><li>breastfeeding</li></ul>
  "
}) }}

<h2>Cautions with other medicines</h2>

  <p>You should not take adalimumab with medicines that can increase the risk of serious infections:</p>

  <ul>
    <li>live vaccination - some vaccines use live viruses such as measles mumps and rubella (MMR), shingles and some flu vaccinations</li>
    <li>abatacept - a medicine to treat autoimmune diseases</li>
    <li>anakinra - a medicine to treat rheumatoid arthritis</li>
  </ul>


<h2>9. Common questions</h2>



{{ details({
  "classes": "nhsuk-expander",
  "text": "How does adalimumab work?",
  "HTML": "
<p>There's a protein in your body called tumour necrosis factor (TNF). High levels of TNF in your body can cause inflammation.</p>
<p>Adalimumab is designed to recognise and attach to TNF.</p>
<p>By attaching to TNF, adalimumab blocks its activity and reduces inflammation and other symptoms of the diseases.</p>
</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "How long does it take to work?",
  "HTML": "
<p>It takes a few weeks to work.</p>
</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "What if it doesn't work?",
  "HTML": "
<p>All versions of adalimumab are equally as effective and safe.</p>
<p>You will have a review where your doctor checks your condition to see if the medicine is working for you. If it isn't working for you, your doctor may increase your dose or give you injections more often.</p>
<p>Sometimes your condition might change and your body may stop responding to the medicine - so you may need to try a different medicine instead.
</p>
</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "How long do I have to wait until my treatment is reviewed?",
  "HTML": "
<p>Your doctor will review your condition after a few months to see if the treatment is working.</p>
<p>You'll be reviewed within 8 weeks for ulcerative colitis.</p>
<p>You'll be reviewed within 12 weeks for:</p>
<ul>
<li>rheumatoid arthritis</li>
<li>psoriatic arthritis</li>
<li>ankylosing spondylitis or axial spondyloarthritis,</li>
<li>Crohn's disease</li>
<li>hidradenitis suppurativa</li>
<li>juvenile idiopathic arthritis</li>
<li>enthesitis-related arthritis</li>
</ul>
<p>You'll be reviewed within 16 weeks for plaque psoriasis and juvenile plaque psoriasis.</p>

</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "What's the difference between a biological medicine and a biosimilar medicine?",
  "HTML": "
<p>A biosimilar medicine is a similar version of a biological medicine.
Biosimilar medicines tend to be priced lower than the original brand of biological medicine.</p>
<p>They're both made from living cells - so this means there will be some small natural differences.</p>
<p>They might also be different in the way they are injected which could be either with a syringe or injection pen.
</p>

</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "What's the difference between the Humira syringe and other adalimumab biosimilar syringes?",
  "HTML": "
<p>There isn't much difference between the Humira syringe and other adalimumab biosimilar syringes.</p>
<p>The Humira syringe comes with a needle shield.</p>
<p>The Amegita, Imraldi, Hyrimoz and Hulio syringe have a retracting needle where the needle goes back into the main part of the syringe once the injection has finished.
A needle shield or retractable needle helps reduce the risk of accidental needle injuries.</p>"
}) }}










{{ details({
  "classes": "nhsuk-expander",
  "text": "What's the difference between the Humira injection pen and other adalimumab biosimilar pens?",
  "HTML": "
<p>There isn't much difference between the Humira injection pen and other adalimumab biosimilar pens.</p>
<p>All the injection pens start with a loud click and have a small window on the injection which changes colour when the injection has finished.</p>
<p>The Hulio pen also has a second click to let you know the injection has finished.</p>"
}) }}



{{ details({
  "classes": "nhsuk-expander",
  "text": "Why am I being switched from Humira to a biosimilar?",
  "HTML": "
<p>The new adalimumab biosimilars cost the NHS less money than the original version Humira.</p>
<p>Adalimumab biosimilars are as effective and safe as the original version Humira. If you switch, your body should respond the same way as if you had stayed on Humira.</p>"
}) }}



{{ details({
  "classes": "nhsuk-expander",
  "text": "When will I switch to a biosimilar?",
  "HTML": "
<p>You may receive a letter from your doctor with information about switching to a biosimilar and a possible timeline of when it could happen.</p>
<p>You can have a consultation with your doctor, they will talk to you about your condition and your needs.</p>
<p>Your doctor will also explain any differences between Humira and a different brand of adalimumab such as how it's delivered and injected.
</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "Will I get more side effects if I switch?",
  "HTML": "
<p>Adalimumab biosimilars are just as safe as Humira. The risk of side effects are the same as Humira.</p>
<p>They have been thoroughly tested to show they work just as well and are just as safe.</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "Can I switch back?",
  "HTML": "
<p>If you have switched and the adalimumab biosimilar is not working for you, you can discuss with your specialist the possibility of switching to a different adalimumab biosimilar or switching back to Humira.</p>"
}) }}



{{ details({
  "classes": "nhsuk-expander",
  "text": "Are adalimumab biosimilars safe to use for a long time?",
  "HTML": "
<p>Adalimumab biosimilars are safe to use for a long time and some patients continue to use them for many years.</p>
<p>They've been through exactly the same thorough testing process as Humira to show that they are just as safe.</p>
<p>You'll be monitored closely to check for any new or developing side effects.</p>
<p>Your doctor will review your treatment and you will only continue to use adalimumab if they are still working and still needed.</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "Will I lose my hair?",
  "HTML": "
<p>Hair loss is not a common side effect with either Humira or adalimumab biosimilars. If it occurs, it is usually after a few months or years of treatment.</p>
</p>If you experience hair loss speak to your doctor.</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "Are there any foods or drinks to avoid?",
  "HTML": "
<p>You can eat and drink normally while on adalimumab.</p>
<p>Your doctor may suggest some changes in your diet to help your condition.</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "Can you drink alcohol with it?",
  "HTML": "
<p>You can drink alcohol while taking adalimumab.
<p>It's best to stick to the national guidelines of no more than 14 units a week for men and women.
A standard glass of wine (175ml) is 2 units. A pint of lager or beer is usually 2 to 3 units of alcohol.
</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "Can it affect fertility?",
  "HTML": "
<p>There's no firm evidence to suggest that taking adalimumab will reduce fertility in either men or women.</p>
<p>It's best to use contraceptives and continue to use them for at least 5 months after your last adalimumab treatment.</p>
<p>Speak to a pharmacist or your doctor if you're trying to get pregnant. They may want to review your treatment.</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "Can it affect contraception?",
  "HTML": "
<p>Adalimumab biosimilars doesn't affect any type of contraception including the contraceptive pill and the morning after pill.</p>"
}) }}


{{ details({
  "classes": "nhsuk-expander",
  "text": "Will it affect driving or riding a bike?",
  "HTML": "
<p>Adalimumab may have a small effect on your ability to drive, cycle or use machines.</p>
<p>You might feel dizzy or have blurry vision after taking adalimumab. If you experience any of these symptoms, do not drive, cycle or use machinery or tools.</p>"
}) }}

{{ details({
  "classes": "nhsuk-expander",
  "text": "Can lifestyle changes help reduce the risk of infection?",
  "HTML": "
<p>Adalimumab can make you more likely to suffer from infections.</p>
<p>To help prevent infections you can:</p>
<ul>
  <li>Wash your hands, particularly after using the bathroom, touching anything dirty, after being in crowded areas or on public transport.</li>
  <li>Try to avoid people with coughs, colds, or who might have infections or other bugs.</li>
  <li>Take extra care when changing nappies, gardening, touching household or animal waste and wash your hands after.</li>
  <li>Take extra care with pets. Wash your hands after touching them, avoid touching cat litter, and look after their health.</li>
  <li>Follow food safety guidelines.</li>
  <li>Avoid travelling to any countries or locations where food and water quality might not be up to the highest standards.</li>
  <li>Be more active - regular exercise lowers blood pressure by keeping your heart and blood vessels in good condition. It doesn't need to be too energetic - walking every day is enough.</li>
  <li>Eat healthily - aim to eat a diet that includes plenty of fruit and veg, wholegrains, fat-free or low-fat dairy products and lean proteins.</li>
 </ul> 



"
}) }}





{{ details({
  "classes": "nhsuk-expander",
  "text": "Can I have vaccinations?",
  "HTML": "
<p>If your immune system is affected by adalimumab you're more at risk of infection caused by a live vaccine.</p>
<p>Live vaccinations use live viruses such as MMR (measles mumps and rubella), shingles and some flu vaccines.</p>
<p>If you need to have a vaccine you should check with your doctor, pharmacist, or nurse whether it is a live vaccine and if there is an alternative inactivated vaccine available.</p>"
}) }}







{{ panel({
  "label": "Related conditions",
  "HTML": "
  <ul>
    <li><a href='https://www.nhs.uk/conditions/crohns-disease/'>Crohn's disease</a></li>
    <li><a href='https://www.nhs.uk/conditions/hidradenitis-suppurativa/'>Hidradenitis suppurativa (HS)</a></li>
    <li><a href='https://www.nhs.uk/conditions/psoriatic-arthritis/'>Psoriatic arthritis</a></li>
    <li><a href='https://www.nhs.uk/conditions/rheumatoid-arthritis/'>Rheumatoid arthritis</a></li>
    <li><a href='https://www.nhs.uk/conditions/uveitis/'>Uveitis</a></li>
  </ul>
  "
}) }}



{{ panel({
  "label": "Useful resources",
  "HTML": "
  <ul>
    <li><a href='https://healthunlocked.com/rheumatoid-arthritis'>Rheumatoid arthritis: forum</a></li>
    <li><a href='https://www.crohnsandcolitis.org.uk/about-inflammatory-bowel-disease/publications/biologic-drugs-in-ibd'>Crohn's & Colitis UK</a></li>
    <li><a href='https://nass.co.uk/about-as/living-well-with-as/medication-for-as/biosimilars/>National Ankylosing Spondylitis Society</a></li>
    <li><a href='https://www.psoriasis.org/about-psoriasis/treatments/biosimilars'>National Psoriasis Foundation</a></li>
    <li><a href='https://www.nras.org.uk/biosimilars-what-are-they-and-how-do-they-differ-from-the-biologics'>National Rheumatoid Arthritis Society</a></li>
  </ul>
  "
}) }}




<p class="nhsuk-body-s">Page last reviewed: 22/10/2018<br /> 
Next review due: 22/10/2021</p>









</p>









    </div>
  </div>
{% endblock %}
