{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  NHS.UK - Register at the Rose Medical Practice
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Page 3</h1>
      <p><strong>Your name:</strong> <span data-name="name"></span> <span data-name="lastname"></span></p>
      <p><strong>Do you agree?</strong> <span data-name="agree"></span></p>
      <a href="/register-with-a-gp/page-2">Go back</a>

    </div>
  </div>
{% endblock %}
