{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  NHS.UK - Register at the Rose Medical Practice
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <form action="/register-with-a-gp/page-3">

      {{ radios({
        "idPrefix": "know-nhs-number",
        "name": "know-nhs-number",
        "fieldset": {
          "legend": {
            "text": "Do you know your NHS number?",
            "classes": "nhsuk-fieldset__legend--l"
          }
        },
        "hint": {
          "text": "This is a 10 digit number, like 485 777 3456. You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service."
        },
        "items": [
          {
            "value": "yes",
            "text": "Yes"
          },
          {
            "value": "no",
            "text": "No"
          }
        ]
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
