{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  Register with a GP - Do you know your NHS number?
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <form id="form_id" action="/register-with-a-gp/page-3">

        {% call fieldset({
          legend: {
            text: "Do you know your NHS number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ hint({
          "text": "This is a 10 digit number, like 485 777 3456."
        }) }}

        {{ hint({
          "text": "You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service.",
          "classes": "nhsuk-!-margin-bottom-5"
        }) }}

        {{ radios({
          "idPrefix": "know-nhs-number",
          "name": "know-nhs-number",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue",
          "id": "btn_submit"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script>
    // Branching
    router.post('/examples/branching/over-18-answer', function (req, res) {
      // Get the answer from session data
      // The name between the quotes is the same as the 'name' attribute on the input elements
      // However in JavaScript we can't use hyphens in variable names

      let over18 = req.session.data['over-18']

      if (over18 === 'false') {
        res.redirect('/docs/examples/branching/under-18')
      } else {
        res.redirect('/docs/examples/branching/over-18')
      }
    })
  </script>
{% endblock %}
