{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  NHS.UK - Register at the Rose Medical Practice
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

    <form action="/register-with-a-gp/summary">

      <h1 class="nhsuk-fieldset__legend--l">What is your current address?</h1>

      {{ input({
        "label": {
          "text": "Enter your postcode"
        },
        "hint": {
          "text": "For example, LS29 6JE"
        },
        "id": "postcode",
        "name": "postcode",
        "classes": "nhsuk-input--width-10"
      }) }}

      {{ button({
        "text": "Continue"
      }) }}

    </form>

    {{ backLink({
      "href": "/register-with-a-gp/page-5",
      "text": "Change my previous answer"
    }) }}

    </div>
  </div>
{% endblock %}
