{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  NHS.UK - Register at the Rose Medical Practice
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Summary</h1>
      <p><strong>Your name:</strong> <span data-name="name"></span> <span data-name="first-name"></span></p>
      <p><strong>Middle name:</strong> <span data-name="name"></span> <span data-name="middle-name"></span></p>
      <p><strong>Last name:</strong> <span data-name="name"></span> <span data-name="last-name"></span></p>
      <p><strong>NHS number</strong> <span data-name="nhs-number"></span></p>
      <a href="/register-with-a-gp/page-2">Go back</a>

    </div>
  </div>
{% endblock %}
