{% extends 'layout-transactional.njk' %}

{% block pageTitle %}
  NHS.UK - Register at the Rose Medical Practice
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Summary</h1>
      <p><strong>Name:</strong> <span data-name="first-name"></span> <span data-name="middle-name"></span> <span data-name="last-name"></span> <a href="/register-with-a-gp/page-4">Change</a></p>
      <p><strong>NHS number: </strong> <span data-name="nhs-number"></span> <a href="/register-with-a-gp/page-3">Change</a></p>
      <p><strong>Date of birth:</strong> <span data-name="dob-day"></span>/<span data-name="dob-month"></span>/<span data-name="dob-year"></span> <a href="/register-with-a-gp/page-5">Change</a></p>
      <p><strong>Address: </strong> <br><span data-name="address-line-1"></span> <br><span data-name="address-line-2"></span> <br><span data-name="address-town"></span> <br><span data-name="address-county"></span> <br><span data-name="address-postcode"></span> <br><a href="/register-with-a-gp/page-6">Change</a></p>
      <a href="/register-with-a-gp/page-2">Start again</a>

    </div>
  </div>
{% endblock %}
