{% extends 'layout.njk' %}

{% block pageTitle %}
  Check your answers
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Health A-Z",
        href: "https://www.nhs.uk/conditions"
      }
    ],
    href: "https://www.nhs.uk/conditions/abscess/",
    text: "Abscess"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Check your answers</h1>

      <p><strong>Your name:</strong> <span data-name="name"></span></p>

      <p data-name="name" data-hide-if=":empty">You have provided your name.</p>

      <p data-name="name" data-show-if=":empty">You have <em>not</em> provided your name.</p>

      <p data-name="name" data-show-if="John">This is only shown if the name is John.</p>

      <p><strong>Your job:</strong> <span data-name="job"></span></p>

      <p><strong>Summary:</strong><br> <span data-name="summary"></span></p>

      <p><strong>Do you agree?</strong> <span data-name="agree"></span></p>

      <p><strong>By phone:</strong> <span data-name="by_phone" data-show-if="1">Yes</span><span data-name="by_phone" data-hide-if="1">No</span></p>

      <p><strong>By email:</strong> <span data-name="by_email" data-show-if="1">Yes</span><span data-name="by_email" data-hide-if="1">No</span></p>

      <p data-name="by_email" data-show-if="1">This is only shown if the 'By email' checkbox has been checked.</p>

      <p><a href="form.html">Edit your answers</a></p>

    </div>
  </div>
{% endblock %}
