{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK - Hub level 2
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/hubs/hub-level-1b",
  text: "NHS services"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-!-margin-bottom-8">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-!-margin-bottom-4">GP services</h1>
    </div>


    
  </div>

  <div class="nhsuk-grid-row ">
      <div class="nhsuk-grid-column-three-quarters nhsuk-!-margin-bottom-4" >

<div class="nhsuk-!-margin-bottom-8">
      <h2 class="nhsuk-heading-m">Getting started</h2>
            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#"  class="hover">Find a GP practice</a>
            </h3>
            <h3 class="nhsuk-heading-s ">
              <a href="/register-with-a-gp" class="hover" >Register with a GP practice</a>
            </h3>

</div>

<div class="nhsuk-!-margin-bottom-8">
      <h2 class="nhsuk-heading-m">Appointments</h2>
            
            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover">How to book an appointment</a>
            </h3>

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover">How to make the most of your appointment</a>
            </h3>

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover">What to ask your doctor</a>
            </h3>
            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover" >Make a complaint</a>
            </h3>

  </div>

<div class="nhsuk-!-margin-bottom-8">

      <h2 class="nhsuk-heading-m">Referrals for specialist care</h2>
            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover">GP referral to specialist services</a>
            </h3>
            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-2">
              <a href="#" class="hover" >What choices you have</a>
            </h3>

</div>









      </div>
    </div>














{% endblock %}
