{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK - Hub level 2
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
  items: [
    {
      href: "/",
      text: "Home"
    }
  ],
  href: "/hubs/hub-level-1",
  text: "NHS services"
}) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row nhsuk-!-margin-bottom-8">
    <div class="nhsuk-grid-column-three-quarters">

      <h1 class="nhsuk-!-margin-bottom-4">GP services</h1>
        <p class="nhsuk-body-l">About GP services, including how to find and register with a local GP and how to book an appointment.</p>
    </div>


    
  </div>

  <div class="nhsuk-grid-row ">
      <div class="nhsuk-grid-column-three-quarters nhsuk-!-margin-bottom-4" >

        <div  >
<hr>
            <h2 class="nhsuk-heading-s nhsuk-!-margin-top-4">
              <a href="/register-with-a-gp">Register with a GP practice</a>
            </h2>
            <p>Find out what GP practices do, how to choose one and how to register with a GP</p>
        </div>

  
        <div>
<hr>
            <h2 class="nhsuk-heading-s nhsuk-!-margin-top-4">
              <a href="/">GP appointments and bookings</a>
            </h2>
            <p>Information on how to book a GP appointment, making the most of your appointment and making a complaint</p>
            </div>

        <div>
        <hr>

            <h2 class="nhsuk-heading-s nhsuk-!-margin-top-4">
              <a href="/">Referrals for specialist care</a>
            </h2>
            <p>Read more about GP referral to specialist services and what choices you have</p> 
          </div>

        <div>
        <hr>

            <h2 class="nhsuk-heading-s nhsuk-!-margin-top-4">
              <a href="/">What to ask your doctor</a>
            </h2>
            <p>Helpful questions to ask your doctor during your appointment</p> 
          </div>





      </div>
    </div>














{% endblock %}
