{% extends 'layout-nhsuk.njk' %}




{% block pageTitle %}
  NHS.UK - Hub level 1
{% endblock %}


{% block beforeContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
      <h1>NHS services</h1>
      </div>
</div>

  <div class="nhsuk-grid-row nhsuk-!-margin-bottom-8" style="">
      <div class="nhsuk-grid-column-three-quarters" >
      <div style="">
<ul class="nhsuk-list-signage nhsuk-list-signage--two-columns" style="margin-top:24px;margin-bottom:24px;">
                      <li><a href="https://beta.nhs.uk/find-a-pharmacy/">Find a pharmacy<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                        </image></svg></a></li>
                        <li><a href="https://www.nhs.uk/Service-Search/Dentist/LocationSearch/3">Find a dentist<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                </image></svg></a></li>
                <li><a href="https://www.nhs.uk/service-search/GP/LocationSearch/4">Find a GP<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
        </image></svg></a></li>
                <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&E<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
        </image></svg></a></li>
                <li><a href="https://www.nhs.uk/Service-Search/Urgent-Care/LocationSearch/1824">Find other urgent care services<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
          </image></svg></a></li>
            </ul>
      </div>
      </div>
</div>







  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >

        <div>

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Urgent and emergency care</a>
            </h3>
            <p>Services the NHS provides if you need urgent or emergency medical help</p>
        </div>    

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
        

        <div >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Hospitals</a>
            </h3>
            <p>About NHS hospitals, including going into hospital, staying in hospital and being discharged</p>
            </div>
      </div>



      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div>

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="/hubs/hub-level-2b">GPs</a>
            </h3>
            <p>About GP services, including how to find and register with a local GP and how to book an appointment</p> 
            </div>
      </div>
    </div>


  <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >

          <div >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="/">Dentists</a>
            </h3>
            <p>About NHS dental services, including how to find an NHS dentist and how much treatment costs</p>
            </div>

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Pharmacies</a>
            </h3>
            <p>How pharmacists can help you with medical advice and medicines</p>
            </div>
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div  >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Mental health services</a>
            </h3>
            <p>Information about NHS mental health services</p> 
            </div> 
      </div>
    </div>


      <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Sexual health services</a>
            </h3>
            <p>Information about NHS sexual health services</p>
            </div>

      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div  >

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Opticians</a>
            </h3>
            <p>Where to find an optician and what happens when you see them</p>
            </div>
      </div>
      <div class="nhsuk-grid-column-one-third nhsuk-!-margin-bottom-5" >
          <div>

            <h3 class="nhsuk-heading-s nhsuk-!-margin-bottom-0">
              <a href="#">Visiting or moving to England</a>
            </h3>
            <p>Advice about healthcare if you're planning to visit or move to England</p>  
            </div>
      </div>
    </div>















{% endblock %}
