{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK - All cookies
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/home-page"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-u-reading-width">
        <h1>The cookies that we set on your device</h1>
      </div>


      <h2>Essential cookies</h2>
      <div class="nhsuk-u-reading-width">
      <p>Cookies that are neccessary to make the website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>
      </div>

      <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" scope="col">Expiry</th>
              <th class="nhsuk-table__header" scope="col">Purpose</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">.ASPXANONYMOUS</td>
              <td class="nhsuk-table__cell" data-label="Expiry">69 days</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to deliver anonymous user details when authorising applications on the website.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">ASP.NET_SessionId</td>
              <td class="nhsuk-table__cell" data-label="Expiry">Session</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Preserves the visitor's session state across page requests.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">AWSELB</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to distribute traffic to the website on several servers in order to optimise response times.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">CookieConsent</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 year</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Stores the user's cookie consent state for the current domain</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">csrftoken</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div><!--nhsuk-panel-->




      <h2>Site preferences</h2>
      <div class="nhsuk-u-reading-width">
      <p>Cookies that are neccessary to make the website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>
      </div>

      <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" scope="col">Expiry</th>
              <th class="nhsuk-table__header" scope="col">Purpose</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">.ASPXANONYMOUS</td>
              <td class="nhsuk-table__cell" data-label="Expiry">69 days</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to deliver anonymous user details when authorising applications on the website.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">ASP.NET_SessionId</td>
              <td class="nhsuk-table__cell" data-label="Expiry">Session</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Preserves the visitor's session state across page requests.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">AWSELB</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to distribute traffic to the website on several servers in order to optimise response times.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">CookieConsent</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 year</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Stores the user's cookie consent state for the current domain</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">csrftoken</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div><!--nhsuk-panel-->








      <h2>Website usage</h2>
      <div class="nhsuk-u-reading-width">
      <p>Cookies that are neccessary to make the website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>
      </div>

      <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" scope="col">Expiry</th>
              <th class="nhsuk-table__header" scope="col">Purpose</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">.ASPXANONYMOUS</td>
              <td class="nhsuk-table__cell" data-label="Expiry">69 days</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to deliver anonymous user details when authorising applications on the website.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">ASP.NET_SessionId</td>
              <td class="nhsuk-table__cell" data-label="Expiry">Session</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Preserves the visitor's session state across page requests.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">AWSELB</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to distribute traffic to the website on several servers in order to optimise response times.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">CookieConsent</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 year</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Stores the user's cookie consent state for the current domain</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">csrftoken</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div><!--nhsuk-panel-->









      <h2>Health campaigns</h2>
      <div class="nhsuk-u-reading-width">
      <p>Cookies that are neccessary to make the website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.</p>
      </div>

      <div class="nhsuk-panel">
      <div class="nhsuk-table-responsive">
        <table class="nhsuk-table">
          <caption class="nhsuk-table__caption">Skin symptoms and possible causes</caption>
          <thead class="nhsuk-table__head">
            <tr class="nhsuk-table__row">
              <th class="nhsuk-table__header" scope="col">Cookie name</th>
              <th class="nhsuk-table__header" scope="col">Expiry</th>
              <th class="nhsuk-table__header" scope="col">Purpose</th>
            </tr>
          </thead>
          <tbody class="nhsuk-table__body">
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">.ASPXANONYMOUS</td>
              <td class="nhsuk-table__cell" data-label="Expiry">69 days</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to deliver anonymous user details when authorising applications on the website.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">ASP.NET_SessionId</td>
              <td class="nhsuk-table__cell" data-label="Expiry">Session</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Preserves the visitor's session state across page requests.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">AWSELB</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Used to distribute traffic to the website on several servers in order to optimise response times.</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">CookieConsent</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 year</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Stores the user's cookie consent state for the current domain</td>
            </tr>
            <tr class="nhsuk-table__row">
              <td class="nhsuk-table__cell" data-label="Cookie name">csrftoken</td>
              <td class="nhsuk-table__cell" data-label="Expiry">1 day</td>
              <td class="nhsuk-table__cell" data-label="Purpose">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
            </tr>
          </tbody>
        </table>
      </div>
      </div><!--nhsuk-panel-->



    </div>
  </div>
{% endblock %}
