{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK - Manage cookies
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/home-page"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Manage your cookie settings</h1>

      <p>We put small files called cookies on your device to collect information about how you use our website.</p>
      <p>We use 4 main types of cookies. You can use this page to choose which cookies you want to use.</p>
      <p><a href="/cookies/all-cookies">Read more detail about our cookies.</a></p>

   <div class="nhsuk-panel nhsuk-u-padding-bottom-1">
    <div class="nhsuk-form-group nhsuk-u-margin-bottom-0">
      <fieldset class="nhsuk-fieldset" id="cookie-preferences-form" aria-describedby="cookie-preferences">

        <h2>Alter your cookie preferences</h2>

        <h3>1. Essential cookies</h3>
        <p>These cookies are needed to make the website work properly. They do things like protect the website from attacks.</p>

        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-1" name="example1" type="radio" value="on" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="example-1">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-2" name="example1" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-2">
              Off
            </label>
          </div>
        </div>


        <h3>2. Site preference cookies</h3>
        <p>These cookies make the website easier to use. They do things like remember notifications you’ve seen, so you do not see them again.</p>

        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-3" name="example2" type="radio" value="on" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-4" name="example2" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>


        <h3>3. Website use cookies</h3>
        <p>These cookies help us make the website better. They collect information how you use our website, such as what you click on.</p>

        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-5" name="example3" type="radio" value="on" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-6" name="example3" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>


        <h3>4. Health campaign cookies</h3>
        <p>These cookies help us check how our health campaigns are performing. They allow us to see how you use social media, such as Facebook or Twitter.</p>

        <div class="nhsuk-radios nhsuk-radios--inline nhsuk-u-margin-bottom-6">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-7" name="example4" type="radio" value="on" checked>
            <label class="nhsuk-label nhsuk-radios__label" for="example-3">
              On
            </label>
          </div>

          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-8" name="example4" type="radio" value="yes">
            <label class="nhsuk-label nhsuk-radios__label" for="example-4">
              Off
            </label>
          </div>
        </div>

      </fieldset>
      <button onclick="changeConsent()" type="submit" class="nhsuk-button">
          Save my settings
      </button>
    </div>
    <script>
        // function to check the checkboxes based on status of cookie preferences
        window.addEventListener("load", function checkCookie() {
            if (NHSCookieConsent.getPreferences() === true)
            {
                document.getElementById("checkbox-preferences").checked = true;
            }
            else
            {
                document.getElementById("checkbox-preferences").checked = false;
            }
            if (NHSCookieConsent.getStatistics() === true)
            {
                document.getElementById("checkbox-statistics").checked = true;
            }
            else
            {
                document.getElementById("checkbox-statistics").checked = false;
            }
            if (NHSCookieConsent.getMarketing() === true)
            {
                document.getElementById("checkbox-marketing").checked = true;
            }
            else
            {
                document.getElementById("checkbox-marketing").checked = false;
            }
        });

        // function to edit consent preferences based on check box input
        function changeConsent() {
            if (document.getElementById("checkbox-preferences").checked !== NHSCookieConsent.getPreferences()) {
                NHSCookieConsent.togglePreferences();
            }
            if (document.getElementById("checkbox-statistics").checked !== NHSCookieConsent.getStatistics()) {
                NHSCookieConsent.toggleStatistics();
            }
            if (document.getElementById("checkbox-marketing").checked !== NHSCookieConsent.getMarketing()) {
                NHSCookieConsent.toggleMarketing();
            }
        }
    </script>
  </div>

    </div>
  </div>
{% endblock %}
