{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  NHS.UK - Manage cookies
{% endblock %}

{% block beforeContent %}
  {{ breadcrumb({
    text: "Home",
    href: "/home-page"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <h1>Manage your cookie settings</h1>

      <p>We put small files called cookies on your device to collect information about how you use our website.</p>
      <p>We use 4 main types of cookies. You can use this page to choose which cookies you want to use.</p>
      <p><a href="/cookies/all-cookies">Read more detail about our cookies.</a></p>

  <div class="nhsuk-panel">
    <div class="nhsuk-form-group">
    <fieldset class="nhsuk-fieldset" aria-describedby="cookie-preferences">

    <div class="nhsuk-checkboxes">
      <h3>1. Essential cookies<h3>
      <p>These cookies are needed to make the website work properly. They do things like protect the website from attacks.</p>
      <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--cookies">
        <input class="nhsuk-checkboxes__input" id="essential" name="cookie-preferences" type="checkbox" value="british" checked>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="essential">
          Allow essential cookies
        </label>
      </div>
      <h3>2. Site preference cookies</h3>
      <p>These cookies make the website easier to use. They do things like remember notifications you’ve seen, so you do not see them again.</p>
      <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--cookies">
        <input class="nhsuk-checkboxes__input" id="preferences" name="cookie-preferences" type="checkbox" value="irish" checked>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="preferences">
          Allow site preference cookies
        </label>
      </div>
      <h3>3. Website use cookies</h3>
      <p>These cookies help us make the website better. They collect information how you use our website, such as what you click on.</p>
      <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--cookies">
        <input class="nhsuk-checkboxes__input" id="data" name="cookie-preferences" type="checkbox" value="other" checked>
        <label class="nhsuk-label nhsuk-checkboxes__label" for="data">
          Allow website use cookies
        </label>
      </div>
      <h3>4. Health campaign cookies</h3>
      <p>These cookies help us check how our health campaigns are performing. They allow us to see how you use social media, such as Facebook or Twitter.</p>
      <div class="nhsuk-checkboxes__item nhsuk-checkboxes__item--cookies">
        <input class="nhsuk-checkboxes__input" id="campaigns" name="cookie-preferences" type="checkbox" value="other">
        <label class="nhsuk-label nhsuk-checkboxes__label" for="campaigns">
          Allow health campaign cookies
        </label>
      </div>

    </div>
    </fieldset>

    <a class="nhsuk-button" href="/home-page">Save my settings</a>

    </div>
  </div>

    </div>
  </div>
{% endblock %}
