{% extends 'layout-nhsuk.njk' %}

{% block pageTitle %}
  Home page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>Home page</h1>

      {{ hero({
        "heading": "We’re here for you",
        "text": "Helping you take control of your health and wellbeing.",
        "imageURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/hero-2.jpg"
      }) }}

    </div>
  </div>
{% endblock %}

{% block main %}
  <main class="nhsuk-main-wrapper nhsuk-!-padding-top-0 nhsuk-!-padding-bottom-0 nhsuk-body-white {{ mainClasses }}" id="main-content" role="main">

    {{ hero({
      "heading": "We’re here for you",
      "text": "Helping you take control of your health and wellbeing.",
      "imageURL": "https://www.nhs.uk/static/nhsuk_shared/img/homepage/hero-2.jpg"
    }) }}

    <section class="nhsuk-section nhsuk-body-white">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-one-half nhsuk-section--half-left ">
            <h2 class="nhsuk-!-margin-top-6">Health A-Z</h2>
            <p>Your complete guide to conditions, symptoms and treatments, including what to do and when to get help.</p>
            {{ actionLink({
              "text": "Go to the Health A-Z",
              "href": "https://www.nhs.uk/conditions/"
            }) }}
          </div>

          <div class="nhsuk-grid-column-one-half nhsuk-section--half-right">
            <h2 class="nhsuk-!-margin-top-6">Medicines A-Z</h2>
            <p>Find out how your medicine works, how and when to take it, possible side effects and answers to your common questions.</p>
            {{ actionLink({
              "text": "Go to the Medicines A-Z",
              "href": "https://www.nhs.uk/medicines/"
            }) }}
          </div>

        </div>
      </div>
    </section>

    <section class="nhsuk-body-grey nhsuk-!-padding-top-9 nhsuk-!-padding-bottom-9">
      <div class="nhsuk-width-container">
        <div class="nhsuk-grid-row">

          <div class="nhsuk-grid-column-full">
            <h2 class="nhsuk-!-margin-bottom-3">NHS services</h2>
            <p>Find the service you need and book appointments online.</p>
            <ul class="nhsuk-list-signage nhsuk-list-signage--two-columns" style="margin-top:32px;margin-bottom:32px;">
                      <li><a href="https://beta.nhs.uk/find-a-pharmacy/">Find a pharmacy<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                          <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                          <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                        </image></svg></a></li>
                        <li><a href="https://www.nhs.uk/Service-Search/Dentist/LocationSearch/3">Find a dentist<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                  <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
                  <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
                </image></svg></a></li>
                <li><a href="/hubs/find-gp-1">Find a GP<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
            </image></svg></a></li>
                    <li><a href="https://www.nhs.uk/Service-Search/Accident-and-emergency-services/LocationSearch/428">Find your nearest A&E<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
            </image></svg></a></li>
                    <li><a href="https://www.nhs.uk/Service-Search/Urgent-Care/LocationSearch/1824">Find other urgent care services<svg class="nhsuk-icon nhsuk-icon__chevron-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M15.5 12a1 1 0 0 1-.29.71l-5 5a1 1 0 0 1-1.42-1.42l4.3-4.29-4.3-4.29a1 1 0 0 1 1.42-1.42l5 5a1 1 0 0 1 .29.71z"></path>
              <image class="nhsuk-icon__chevron-right nhsuk-icon__chevron-right--fallback" src="/assets/images/icons/icon-chevron-right-grey.png" xlink:href="">
              </image></svg></a></li>
            </ul>

            {{ actionLink({
              "text": "Find other NHS services",
              "href": "/hubs/hub-level-1b"
            }) }}

            {{ panel({
              "HTML": "
              <h3>If you need help now, but it’s not an emergency</h3>
              <p>Go to <a href='https://111.nhs.uk/'>111.nhs.uk</a> or <a href='tel: 111'>call 111</a>.</p>",
              "classes": "nhsuk-!-margin-bottom-0"
            }) }}

          </div>

        </div>
      </div>
    </section>

  </main>

{% endblock %}
