{% extends 'layout.njk' %}

{% block pageTitle %}
  NHS.UK Prototype Kit - Test page
{% endblock %}

{% block beforeContent %}
  {{ hero({
    "heading": "Prototype kit test",
    "text": "Rapidly create HTML prototypes."
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Hub pages</h2>
      <p>Version 1</p>
      <ul>
        <li><a href="/hubs/hub-level-1">Hub level 1</a></li>
        <li><a href="/hubs/hub-level-2">Hub level 2</a></li>
      </ul>
      <p>Version 2</p>
      <ul>
        <li><a href="/hubs/hub-level-1b">Hub level 1</a></li>
        <li><a href="/hubs/hub-level-2b">Hub level 2</a></li>
      </ul>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Transactional</h2>
      <ul>
        <li><a href="/register-with-a-gp">Register with a GP</a></li>
      </ul>
    </div>

    <div class="nhsuk-grid-column-one-third">
      <h2 class="nhsuk-heading-m">Cookies</h2>
      <ul>
        <li><a href="/cookies/manage-cookies">Manage Cookies</a></li>
        <li><a href="/cookies/all-cookies">All Cookies</a></li>
      </ul>
    </div>

  </div>
{% endblock %}
