{% extends "layout.njk" %}

{% set mainClasses = 'nhsuk-main-wrapper--s' %}

{% block pageTitle %}
  Page layout for transactional services
{% endblock %}

{% block header %}
  {{ header({
    "transactionalService": {
        "name": "Register with a GP",
        "href": "/register-with-a-gp"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block footer %}
  {{ footer({
    "showLogo": "false",
    "primaryLinks": [
      {
      "url": "https://www.nhs.uk/about-us/sitemap/",
      "label": "Sitemap"
    },
    {
      "url": "https://www.nhs.uk/our-policies/",
      "label": "Our policies"
    }
    ]
  })}}
{% endblock %}
